table {
	border-spacing: 0;
	border-collapse: collapse
}

.btn-group-vertical>.btn-group-vertical:after,.btn-group-vertical>.btn-group-vertical:before,.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.cards:after,.cards:before,.clearfix:after,.clearfix:before,.container-fixed-md:after,.container-fixed-md:before,.container-fixed-sm:after,.container-fixed-sm:before,.container-fixed-xs:after,.container-fixed-xs:before,.container-fixed:after,.container-fixed:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager-justify:after,.pager-justify:before,.pager-loose:after,.pager-loose:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
	display: table;
	content: " "
}

.btn-group-vertical>.btn-group-vertical:after,.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.cards:after,.clearfix:after,.container-fixed-md:after,.container-fixed-sm:after,.container-fixed-xs:after,.container-fixed:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager-justify:after,.pager-loose:after,.panel-body:after,.row:after {
	clear: both
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto
}

.pull-right {
	float: right!important
}

.pull-left {
	float: left!important
}

.hide {
	display: none
}

.showing {
	display: block
}

.hidden {
	display: none!important;
	visibility: hidden!important
}

.show {
	display: block!important;
	visibility: visible!important
}

.invisible {
	visibility: hidden
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.affix {
	position: fixed
}

.with-padding {
	padding: 5px 12px
}

.no-padding {
	padding: 0!important
}

.inline-block.visible-xs,.inline.visible-xs,.visible-xs,td.visible-xs,th.visible-xs,tr.visible-xs {
	display: none!important
}

@media (max-width:767px) {
	.visible-xs {
		display: block!important
	}

	.inline.visible-xs {
		display: inline!important
	}

	.inline-block.visible-xs {
		display: inline-block!important
	}

	tr.visible-xs {
		display: table-row!important
	}

	td.visible-xs,th.visible-xs {
		display: table-cell!important
	}
}

*,:after,:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
	font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','PingFang SC','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
	font-size: 13px;
	line-height: 1.53846154;
	color: #353535;
	background-color: #fff
}

button,input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #145ccd;
	text-decoration: none;
	-webkit-transition: all .4s cubic-bezier(.175,.885,.32,1);
	-o-transition: all .4s cubic-bezier(.175,.885,.32,1);
	transition: all .4s cubic-bezier(.175,.885,.32,1)
}

a:focus,a:hover {
	color: #0d3d88;
	text-decoration: underline
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

a.disabled,a.disabled:focus,a.disabled:hover,a[disabled],a[disabled]:focus,a[disabled]:hover {
	color: #aaa;
	text-decoration: none;
	cursor: default
}

audio,canvas,img,video {
	max-width: 100%;
	vertical-align: middle
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0
}

::-moz-selection {
	text-shadow: none;
	background: #b3d4fc
}

::selection {
	text-shadow: none;
	background: #b3d4fc
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0
}

textarea {
	resize: vertical
}

ol,ul {
	padding-left: 20px
}

.container,.container-fixed,.container-fixed-md,.container-fixed-sm,.container-fixed-xs,.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		max-width: 740px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1160px
	}
}

.container-fixed {
	width: 1160px
}

.container-fixed-md {
	width: 960px
}

.container-fixed-sm {
	width: 740px
}

.container-fixed-xs {
	width: 440px
}

.row {
	margin-right: -3px;
	margin-left:  -3px
}

.col,.col-md-4,.col-xs-12,.col-xs-13,.col-xs-4,.col-xs-4a {
	position: relative;
	min-height: 1px;
	padding: 2px;

}

.col,.col-xs-12,.col-xs-13,.col-xs-4,.col-xs-4a {
	float: left
}

.col-xs-4 {
	width: 33.333%
}

.col-xs-4a {
	width: 100%
}

.col-xs-12 {
	width: 100%;
	box-sizing: border-box
}

.col-xs-13 {
	width: 50%;
	box-sizing: border-box
}

.col-xs-6{
	width: 33.333%;
	float: left;
}
@media (min-width:992px) {
	.col-md-4 {
		float: left
	}

	.col-md-4 {
		width: 25%
	}

	.text-left {
		text-align: left
	}

	.text-right {
		text-align: right
	}

	.text-center {
		text-align: center
	}

	.icon, [class*=" icon-"], [class^=icon-] {
		font-family: ZenIcon;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		line-height: 1;
		text-transform: none;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale
	}

	.icon:before {
		display: inline-block;
		min-width: 14px;
		text-align: center
	}

	a .icon, a [class*=" icon-"], a [class^=icon-] {
		display: inline
	}

	.icon-lg:before {
		font-size: 1.33333333em;
		vertical-align: -10%
	}

	.icon.icon-flip-horizontal, .icon.icon-flip-vertical, .icon.icon-rotate-180, .icon.icon-rotate-270, .icon.icon-rotate-90 {
		display: inline-block
	}

	.icon-arrow-up:before {
		content: '\e65c'
	}

	.no {
		text-decoration: line-through;
	}
}

@media (max-width:992px) {
	.col-md-4 {
		float: left
	}

	.col-md-4 {
		width: 50%;
	}
	.col-xs-6{
		width: 100%;
	}
	.col-xs-13{
		width: 100%;
	}

}